<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fahkwang" rel="stylesheet"> 
  </head>
  <body> 
    
    <main>
          <div class="container center box-o home" id="testui"> 
            <header>
              <h1>A.M.B.</h1>
            </header>
            <p>Anonymous Message Board</p>
            <div class="board">
              <form action="/api/threads/test" method="post" id="newThread" class="new">
                <input type="text" placeholder="New board" id="board1" name="board" required><br>
                <textarea type="text" placeholder="New thread..." name="text" required></textarea><br>
                <input type="text" placeholder="Password to delete" name="delete_password" required><br>
                <input type="submit" value="Submit" class="btn submit big">
              </form>
            </div>  
            <h3>Current boards:</h3>
            <div class="board" id="boardList"></div>
      </div>
      <footer>Check out my other projects on <a href="https://github.com/waymans" target="_blank">GitHub</a>.</footer>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/index.js"></script>
  </body>
</html>
